/* custom css style / overwrite bootstrap css */
.login-input.is-invalid {
  background-image: none !important;
  padding-right: 0.75rem !important;
}

.mh-24 {
  min-height: 1.5rem;
}

.custom-fr {
  color: #300d38;
}

.fr-button {
  background-color: transparent;
  border-color: #fba919;
  color: #300d38;
}

.fr-button:hover {
  background-color: #300d38;
  border-color: #300d38;
  color: #fba919;
}
